* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 200vh;
}

/* ------------------ Header ----------------- */

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
}

.snake-nav {
    width: 100%;
    position: absolute;
}

.nav-logo {
    height: 36px;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: #C2D28D;
}

.uk-container {
    padding-top: 8px;
}

.uk-navbar-toggle {
    color: rgb(95, 95, 95);
}

/* ------------------------------------------- */

.first-section {
    background-color: black;
    min-height: 900px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.div-section {
    width: 70%;
}

.div-img-main {
    width: 100%;
}

.img-main {
    width: 100%;
    margin-bottom: 50px;
}

.text-green {
    font-family: "Syne", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #C2D28D;
    width: 250px;
    line-height: 19px;
    margin-bottom: -60px;
}

.div-slogan {
    position: relative;
    display: inline-block;
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.slogan-text {
    font-family: "Monserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 9px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    line-height: 50px;
    margin-top: 20px;
}

.div-vermas {
    display: flex;
    background-color: #000000;
    align-items: center;
    width: 110px;
    justify-content: space-around;
}

.green-bar {
    width: 10px;
    height: 40px;
    background-color: #C2D28D;
}

.text-vermas {
    font-family: "Syne", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    width: 250px;
    line-height: 19px;
    margin: 0;
    padding: 0 0 0 14px;

}

.div-redes {
    float: left;
    text-align: end;
    margin-left: 200px;
}


.logo-face {
    margin: 0 27px;
}


/* ------------------------------------ */
/* Linea */

.container-words {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    overflow: hidden;
}

.scroll {
    white-space: nowrap;
    margin: 0em;
}

.scroll div {
    display: flex;
    gap: 2em;
}

.scroll p {
    font-size: .8em;
    font-family: "Syne", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 0;
    line-height: 10px;
    text-transform: uppercase;
    margin: 0;
}

#scroll{
    margin: 0 0 0 -20px;
}

.rightToLeft {
    animation: rightToLeft 17s linear infinite;
}

@keyframes rightToLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
    
}

/* ---------------------------- */

.second-section {
    background: url(../img/medias_rosas_background.png) no-repeat center;
    background-size: cover;
    padding: 45px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-section-two {
    width: 300px;
    height: 200px;
    background: url(../img/medias_rosas_big.png) no-repeat center;
    background-size: cover;
    border-radius: 20px;
    color: white;
    margin-bottom: 30px;
}

.text-second-one{
    font-family: "Monserrat", sans-serif;
    line-height:20px;
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.text-secpnd-two{
    font-family: "Inter", sans-serif;
}