* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin: 0;
}

body {
    min-height: 200vh;
}

/* ------------------ Header ----------------- */

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
}

.snake-nav {
    width: 100%;
    position: absolute;
}

.nav-logo {
    height: 36px;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: #C2D28D;
}

.uk-container {
    padding-top: 8px;
}

.uk-navbar-toggle {
    color: rgb(95, 95, 95);
}

/* ------------------------------------------- */

/* ------------------ Main ----------------- */
.first-section {
    background-color: black;
    min-height: 900px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.div-section {
    width: 70%;
}

.div-img-main {
    width: 100%;
}

.img-main {
    width: 100%;
    margin-bottom: 50px;
}

.text-green {
    font-family: "Syne", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #C2D28D;
    width: 250px;
    line-height: 19px;
    margin-bottom: -60px;
}

.div-slogan {
    position: relative;
    display: inline-block;
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.slogan-text {
    font-family: "Monserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 9px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    line-height: 50px;
    margin-top: 20px;
}

.div-vermas {
    display: flex;
    background-color: #000000;
    align-items: center;
    width: 110px;
    justify-content: space-around;
}

.green-bar {
    width: 10px;
    height: 40px;
    background-color: #C2D28D;
}

.text-vermas {
    font-family: "Syne", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    width: 250px;
    line-height: 19px;
    margin: 0;
    padding: 0 0 0 14px;

}

.div-redes {
    float: left;
    text-align: end;
    margin-left: 200px;
}


.logo-face {
    margin: 0 27px;
}


/* ------------------------------------ */

/* ------------------ container words ----------------- */

.container-words {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    overflow: hidden;
}

.scroll {
    white-space: nowrap;
    margin: 0em;
}

.scroll div {
    display: flex;
    gap: 2em;
}

.scroll p {
    font-size: .8em;
    font-family: "Syne", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 0;
    line-height: 10px;
    text-transform: uppercase;
    margin: 0;
}

#scroll{
    margin: 0 0 0 -20px;
}

.rightToLeft {
    animation: rightToLeft 17s linear infinite;
}

@keyframes rightToLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
    
}

/* -------------------------------------------------- */

/* ------------------ Container snake ----------------- */

.container-words-snake{
    width: 100%;
    overflow: hidden;
}

.container-snake {
    display: flex;
    width: 104%;
    overflow: hidden;
}

.img-snake{
    width: 100%;
}

/* ------------------ Second Section ----------------- */

.second-section {
    background: url(../img/medias_rosas_big.png) no-repeat center;
    background-size: cover;
}

.filter-section-two {
    background-color: rgba(0, 0, 0, 0.61);
    padding: 40px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}	

.div-section-two {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}	

.img-section-two {
    width: 300px;
    height: 200px;
    background: url(../img/medias_rosas_big.png) no-repeat center;
    background-size: cover;
    border-radius: 20px;
    color: white;
    margin-bottom: 30px;
}

.text-second-one{
    font-family: "Monserrat", sans-serif;
    line-height:22px;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 100%;
}

.text-second-two{
    font-family: "Inter", sans-serif;
    width: 100%;
    color: white;
}

/* ------------------ Third Section ----------------- */

.third-section{
   width: 100%; 
   margin: 20px 0 6px;
}

.title-third-section{
    font-family: "Monserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
    line-height: 20px;
    text-align: center;
}

.div-cards{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sub-div-cards{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #000000;
    border-style: solid;
    border-width: 1.5px 1.5px 0px 1.5px;
    padding: 20px 0 5px;
}

.mini-card{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.img-card{
    width: 100%;
    height: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.line-black-cards{
    width: 100%;
    height: 1.5px;
    background-color: #000000;

}

.p-card{
    font-family: "Syne", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    font-size: 13px;
    margin: 10px 0;
}

.line-black{
    width: 100%;
    height: 1.5px;
    background-color: #000000;
}

.div-card-secundary{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sub-div-card-secundary{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card-secundary{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 5px;
}

#metalic-blue-card, #hockey-card{
    border-color: #000000;
    border-style: solid;
    border-width: 0px 1.5px 0px 1.5px;
}

#neon-card, #ultra-card{
    border-color: #000000;
    border-style: solid;
    border-width: 0px 1.5px 0px 0px;

}

.mini-card-secundary{
    display: flex;
    flex-direction: column;
    width: 90%;
}

/* fourth section */

.fourth-section{
    width: 100%;
}

.div-fourth-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
    margin-bottom: 20px;
}

.cards-carrousel{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

#img-carrousel-2{
    padding: 0 5px;
}

.img-carrousel{
    width: 1fr;
    height:150px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

/* fifth section */

.fifth-section{
    width: 100%;
    margin: 20px 0px 0;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-fifth-section{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 40px 0 50px;
    width: 80%;

}

.h2-idea{
    font-family: 'Syne', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    color: #C7FF9C;
    margin: 0;
}

.text-idea{
    font-family: 'Monserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    margin: 8px 0 60px;
    letter-spacing: 1px;
    color: #ffffff;
}

.div-process-idea{
    width: 100%;
}

.line-white{
    width: 100%;
    height: 2px;
    background-color: #ffffff;
}

.p-idea{
    font-family: 'Monserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    line-height: 26px;
    margin: 20px 0;
}


/* --------- SIX SECTION --------- */

.sixth-section{
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-sixth-section{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 40px 0 50px;
    width: 80%;
}

.h2-dev{
    font-family: 'Monserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    margin: 0;
}

.text-dev{
    font-family: 'Monserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 44px;
    color: #C7FF9C;
    margin: 8px 0 30px;
    letter-spacing: 1px;  
}

.img-qr{
    width: 150px;
}